@model MangroveSpace.AspCMSProductCategory
@{
    /**/

    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Shared/backend/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index", "ProductCategory")" class="btn btn-success">Manage Product Category</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <br />
                @using (Html.BeginForm("Edit", "ProductCategory", null, FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.CategoryID, new { htmlAttributes = new { @class = "form-control", Value = Model.CategoryID, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.CategoryID)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.CategoryName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.SubCategoryName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model=>model.Status, new SelectList(new List<SelectListItem>{
                                               new SelectListItem { Text="Active", Value="true"},
                                               new SelectListItem { Text="Inactive", Value="false"},
                                           },"Value","Text"), new { @class = " js-example-basic-single form-control ", name = "Status" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="image-view">
                                <div class="image-view-show">
                                    @if (Model.CategoryIcon != null)
                                    {
                                        <img src="@Model.CategoryIcon" class="blah" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/back_assets/img/Category.png" class="blah" />
                                    }
                                </div>
                                <div class="image-action">
                                    <input type="file" name="ImageFile" onchange="readURL(this)" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 text-center col-sm-12 col-xs-12 ">
                                    <a href="/ProductCategory/" class="btn btn-primary" type="button">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        //Image Preview
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}