<footer>
    <div class="wrapper-footer">
        <div class="row">
            <div class="col-md-3">
                <div class="single-footer">
                    @Html.GetGadgetItem("address")
                </div>
            </div>
            <div class="col-md-3">
                @Html.GetGadgetItem("quickLinks")
            </div>
            <div class="col-md-3">
                @Html.GetGadgetItem("Extralinks")
            </div>
            <div class="col-md-3">
                @Html.GetGadgetItem("follow")
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.GetGadgetItem("copyright")
                
            </div>
        </div>
    </div>
</footer>