<footer class="construct-footer-area">
    <div class="construct-footer-top-area section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-footer footer-logo">
                        @Html.GetGadgetItem("Logo")
                    </div>
                    <div class="single-footer ">
                        @Html.GetGadgetItem("Address")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-footer ">
                        @Html.GetGadgetItem("QuickLinks")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-footer ">
                        @Html.GetGadgetItem("InternalLinks")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-footer ">
                        @Html.GetGadgetItem("FooterSocial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="construct-footer-bottom-area section_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copyright-left">
                        @Html.GetGadgetItem("Copyrights")
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>