@model AspCMSNotice

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/backend/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index", "Notice")" class="btn btn-success">Manage Notice</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <br />
                @using (Html.BeginForm("Edit", "Notice", null, FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.NoticeID)


                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoticeDescription, htmlAttributes: new { @class = "control-label col-md-12 col-sm-12 col-xs-12", style = "margin-bottom:10px" })
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @Html.TextAreaFor(model => model.NoticeDescription)
                                    @Html.ValidationMessageFor(m => m.NoticeDescription)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoticeName, htmlAttributes: new { @class = "control-label col-md-12 col-sm-12 col-xs-12", style = "margin-bottom:10px" })
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @Html.EditorFor(model => model.NoticeName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.NoticeName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label col-md-12 col-sm-12 col-xs-12", style = "margin-bottom:10px" })
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div id="filterDate2">

                                        <!-- Datepicker as text field -->
                                        <div class="input-group date cus_date_3" data-provide="datepicker" data-date-format="mm.dd.yyyy">
                                            @Html.EditorFor(model => model.NoticeDate, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control StudentBirthDay", data_date_format = "mm.dd.yyyy", placeholder = "mm/dd/yy" } })
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.NoticeDate)


                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoticeStatus, htmlAttributes: new { @class = "control-label col-md-12 col-sm-12 col-xs-12", style = "margin-bottom:10px" })
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @*@Html.EditorFor(model => model.AspInfoSection.SectionShift, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model=>model.NoticeStatus, new SelectList(new List<SelectListItem>{
                                            new SelectListItem { Text="", Value=string.Empty},
                                            new SelectListItem { Text="Publish", Value="true"},
                                            new SelectListItem { Text="Unpublish", Value="false"},

                                        },"Value","Text"), new { @class = " js-example-basic-single form-control ", name = "AspCMSSlider.SliderStatus" })
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px"></label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="file_uploader">
                                        @if (Model.AttachFile != null)
                                        {
                                            <label for="file-upload"><input type="file" name="AttFile" id="AttFile"></label>
                                            
                                        }
                                        else
                                        {
                                            <label for="file-upload"><input type="file" name="AttFile" id="AttFile"></label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="ln_solid"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 text-center col-sm-12 col-xs-12 ">
                                    <a href="/Notice/" class="btn btn-primary" type="button">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                                        }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {
            $('#NoticeDescription').summernote({
                height: 250,
                dialogsInBody: true,
                prettifyHtml: true,
                codemirror: {
                    "mode": "text/html",
                    "htmlMode": true,
                    "lineNumbers": true,
                    "theme": "monokai",
                    "width": "100px",
                    "textWrapping": true
                },
                disableDragAndDrop: true,
                toolbar: [
                    ["paragraph", ["style"]],
                    ["fontsize", ["fontname", "fontsize", "color"]],
                    ["style", ["bold", "italic", "underline", "strikethrough", "clear"]],
                    ["paragraph", ["ol", "ul", "paragraph"]],
                    ["insert", ["table", "link", "picture", "video", "hr"]],
                    ["misc", ["codeview"]]
                ],
                placeholder: "Page Content"
            });
        });

    </script>

}

