@model MangroveSpace.Models.RegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/backend/_LoginLayout.cshtml";
}

<div class="login-page-heading">
    <h3>Create Account</h3>
</div>
<div class="login-sign-up">
    <a href="login.html">Already Have an account?</a>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-12">
            <div class="account-form-group">
                <input type="email" name="Email" id="Email" placeholder="E-mail Address">
                <i class="fa fa-envelope"></i>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-6">
                <div class="account-form-group">
                    <input type="text" placeholder="First Name">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="account-form-group">
                    <input type="text" placeholder="Last Name">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="account-form-group">
                    <input type="text" placeholder="Country">
                    <i class="fa fa-globe"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="account-form-group">
                    <input type="text" placeholder="Institute/Company">
                    <i class="fa fa-university"></i>
                </div>
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="account-form-group">
                <input type="password" name="Password" id="Password" placeholder="Password">
                <i class="fa fa-lock"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="account-form-group">
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password">
                <i class="fa fa-lock"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="remember-row">
                <p class="checkbox1">
                    <input class="checkbox-spin" type="checkbox" id="Freelance1">
                    <label for="Freelance1"><span></span>Accept Terms & Condition</label>
                </p>
                <p class="checkbox remember">
                    <input class="checkbox-spin" type="checkbox" id="Freelance">
                    <label for="Freelance"><span></span>wish to Receive E-mail</label>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <button type="submit" class="gauto-theme-btn">Register now</button>
            </p>
        </div>
    </div>
    @*@Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
