
<div class="single-notice-widget">
    <div class="site-heading">
        <h3>campus Events</h3>
    </div>
    <div class="campus-news-box">
        @{
            MangroveSpaceEntities db = new MangroveSpaceEntities();
            List<dynamic> Information = Global.Sql(db, "select top 3 [ID],[EventID],[EventName],[EventDate],[AttachFile],[Time1],[Time2],[EntryDate] from [dbo].[AspCMSEvent] where [EventStatus]=1 order by [EventOrderID] ASC").ToList();
            foreach (dynamic item in Information)
            {
                <div class="single-campus-news">
                    <div class="campus-events-left">
                        <h3>@string.Format("{0:MMM}", @item.EventDate) <span>@string.Format("{0:dd}", @item.EventDate)</span></h3>
                    </div>
                    <div class="campus-events-right">
                        <h4>
                            <a href="/Event/EventDetails/@item.ID">@item.EventName</a>
                        </h4>
                        <h5>@item.Time1 – @item.Time2</h5>
                        <a href="/Event/EventDetails/@item.ID">read more about this event</a>
                    </div>
                </div>
            }
            
        }
                                    
                                    
    </div>
    <a href="/Event/AllEvents" class="theme-btn">More Events</a>
</div>



